<div class="container-fluid am-cf">
    <div class="row am-animation-slide-top">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home sidebar-nav-link-logo"></span>所有的系统信息</div>
            <p class="page-header-description">上头铃铛只能显示部分信息，大列表能显示所有信息</p>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="widget am-cf widget-body-lg am-animation-slide-left" style="height: 650px;overflow: auto" id="allsystemmessages">

    </div>
</div>
<script>
    //查询出系统信息
    $(function () {
        selsystemallmessages()
    })
    function selsystemallmessages(){
        $.ajax({
            type: "POST",                           //通过POST方式上传请求
            url: "/other/selmessages",
            dataType: "json",
            data: {},
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {
                var str=""
                for(var i=0;i<data.length;i++){
                    str+=" <div class=\"am-panel am-panel-default\" style='border: 1px solid "+data[i].color+";color: "+data[i].color+"'>\n" +
                        "            <div class=\"am-panel-hd\"> <i class="+data[i].icon+"></i>于"+data[i].sendtime+"发送的信息</div>\n" +
                        "            <div class=\"am-panel-bd\">\n" +
                        "                "+data[i].content+"\n" +
                        "            </div>\n" +
                        "        </div>"
                }
                $('#allsystemmessages').html(str)
            }
        })
    }

</script>