<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--这是用于登陆与注册的mapper-->
<mapper namespace="com.bysj.qiu.dao.GetSecretDao">
<!--    得到admin的权限信息-->
    <select id="selAdminPower"  resultType="com.bysj.qiu.pojo.Secret">
            select * from tb_secret_admin where user=#{user}
    </select>
<!--得到普通用户的权限信息-->
    <select id="selOtherUserPower" resultType="com.bysj.qiu.pojo.Secret" parameterType="com.bysj.qiu.pojo.Secret">
         select * from tb_secret_user where user=#{user}
    </select>
<!--判断是否有这个用户-->
    <select id="booleanUserPower" resultType="com.bysj.qiu.pojo.Secret" parameterType="com.bysj.qiu.pojo.Secret">
         select id,user,password,power from tb_secret_user where user=#{user} and password=#{password}
    </select>
<!--判断是否有这个用户-->
    <select id="booleanAdminPower" resultType="com.bysj.qiu.pojo.Secret" parameterType="com.bysj.qiu.pojo.Secret">
         select id,user,password,power from tb_secret_admin where user=#{user} and password=#{password}
    </select>
<!--    注册（只能注册普通用户）-->
    <insert id="regist" >
        insert into tb_secret_user(user,password,power,fatheruser) values (#{user},#{password},'USER','任何管理员')
    </insert>
<!--    注册支付密码-->
    <update id="uppaypassword">
        update tb_secret_user set paypassword=#{paypassword} where user=#{user}
    </update>
<!--    更新普通用户-->
    <update id="upUserPasswordAndUser" >
        update tb_secret_user set user=#{newuser},password=#{password} where user=#{olduser}
    </update>
</mapper>